@use "pico" with (
  $enable-semantic-container: true,
  $enable-classes: true,
  $theme-color: "vk",
  $modules: (
    "content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": true,
    "components/accordion": false,
    "components/card": false,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": true,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": true
  )
);
// @use "colors" as *;
@use "custom-theme";

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-color: #292F36;
    --pico-contrast: var(--pico-primary-hover);
    --pico-header-color: #0d0f0f;
    --pico-background-color: #F7FFF7;
    --pico-h1-color: var(--pico-header-color);
    --pico-h2-color: var(--pico-header-color);
    --pico-h3-color: var(--pico-header-color);
    --pico-h4-color: var(--pico-header-color);
    --pico-h5-color: var(--pico-header-color);
    --pico-h6-color: var(--pico-header-color);
}
[data-theme=dark],
:root:not([data-theme=light]) {
    --pico-color: #77878B;
    --pico-contrast: var(--pico-primary-hover);
    --pico-header-color: #afc9cf;
    --pico-background-color: #1C1C1C;
    --pico-h1-color: var(--pico-header-color);
    --pico-h2-color: var(--pico-header-color);
    --pico-h3-color: var(--pico-header-color);
    --pico-h4-color: var(--pico-header-color);
    --pico-h5-color: var(--pico-header-color);
    --pico-h6-color: var(--pico-header-color);
    
}
header {
    height: 5em;
    nav {
        text-align: right;
        justify-content: flex-end;
        text-transform: uppercase;
        a{ 
            font-weight: 550;
        }
    }
}

.avatar {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

main {
    width: 65% !important;
}

.index-spacer {
    height: 10rem !important;
}

html {
    background-color: var(--pico-background-color);
}

#index-image {
    text-align: center;
}

