
#searchResults {
  visibility: hidden;
  margin-top: 1em;
  background-color: var(--pico-background-color); 
  position: absolute;
  width: 20em;
  text-transform: none !important;
  text-align: left;
  z-index: 999;
  border: 1px solid var(--pico-form-element-active-border-color);
  border-radius: .5em;
  
  article {
    padding: .5em;
  } 
}