:root {
    --pico-font-family: "Urbanist";
    // --pico-font-weight: 500;
}

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-color: #292F36;
    --pico-contrast: var(--pico-primary-hover);
    --pico-header-color: #0d0f0f;
    --pico-background-color: #F7FFF7;
    --pico-h1-color: var(--pico-header-color);
    --pico-h2-color: var(--pico-header-color);
    --pico-h3-color: var(--pico-header-color);
    --pico-h4-color: var(--pico-header-color);
    --pico-h5-color: var(--pico-header-color);
    --pico-h6-color: var(--pico-header-color);
    --w-color: var(--pico-color-amber-200);
}
[data-theme=dark],
:root:not([data-theme=light]) {
    --pico-color: #819499;
    --pico-contrast: var(--pico-primary-hover);
    --pico-header-color: #92a6aa;
    --pico-background-color: #212121;
    --pico-h1-color: var(--pico-header-color);
    --pico-h2-color: var(--pico-header-color);
    --pico-h3-color: var(--pico-header-color);
    --pico-h4-color: var(--pico-header-color);
    --pico-h5-color: var(--pico-header-color);
    --pico-h6-color: var(--pico-header-color);
    --w-color: var(--pico-color-amber-200);
    
}