{{ define "main" }}
  <div class="container">
    <section>
      <hgroup>
        <h1>{{ .Title}}</h1>
        {{ if .Description }}
          <p>{{ .Description }}</p>
        {{- end }}
      </hgroup>
      <hr>
      {{ if .Params.show_date }}
      <h6>{{ .Date }}</h6>
      {{ end }}
      {{ with .GetTerms "tags" }}
      <div class="post-tags">
        <ul>
          {{range . }} 
            <li><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>&nbsp;</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </section>
    <div class="mainContent">
      <div id="toc">
        {{ if .Params.show_toc }}
        <details open>
          <summary>Table of contents</summary>
          {{ .TableOfContents }}
        </details>
        {{ end }}
      </div>
      <hr>
      {{ .Content }}
    </div>
    <hr>
    <div class="grid">
      <div class="left">{{ if .Next }}<a class="postnav" href="{{ .Next.RelPermalink }}">&larr; {{.Next.Title}}</a>{{ end }}</div>
      <div class="right">{{ if .Prev }}<a class="postnav" href="{{ .Prev.RelPermalink }}">{{ .Prev.Title}} &rarr;</a>{{ end }}</div>
    </div>
    {{ if .Params.show_shares }}
    {{ partial "partials/shares.html" }}
    {{ end }}
    {{ if .Params.show_comments }}
      {{ partial "comments.html" }}
    {{ end }}
  </div>
  {{ if $.Params.mermaid }}
  {{- range resources.Match "js/mermaid/*.js" }}
    {{- with . | minify | fingerprint "sha512"}}
  <script async src="{{ .RelPermalink }}" data-website-id="{{site.Params.stats.site_id}}" nonce="{{site.Params.js.nonce}}" integrity="{{ .Data.Integrity }}"></script>
    {{- end }}
  {{- end }}
{{- end }}
{{ end }}


