<div id = "shares" class = "center">
    <ul>
        <li><a href = "https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}" target="_blank" class="icon icon-linkedin shares"></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" class="icon icon-fb shares" target="_blank"></a></li>
        <li><a href = "https://t.me/share/url?url={{ .Permalink }}" class="icon icon-tg shares" target="_blank"></a></li>
        <li><a href= "https://api.whatsapp.com/send?text={{ .Permalink }}" class="icon icon-wa shares" target="_blank"></a></li>
    </ul>
</div>


